<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ShelfGuard QA Suite" verbose="1">
    <test name="End To End Flow">
        <classes>
            <class name="tests.BookStoreE2ETest"/>
        </classes>
    </test>
    <test name="Login and Registration Validation">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>
